In [52]:
import pandas as pd
import numpy as np

In [53]:
df=pd.read_csv(r'C:\Users\amak7\Desktop\\Legit\Datasets\supply.csv')

In [54]:
df.head()

,File Code,BLS Code,BLS Region,BLS Region 2,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,Unnamed: 14,grains,four commo-dities
0,1,9,Argentina,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,NaN,-36,-32
1,1,9,Argentina,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,NaN,-27,-21
2,1,9,Argentina,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,NaN,-10,-3
3,1,9,Argentina,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,NaN,0,4
4,1,9,Argentina,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,NaN,-38,-36

In [55]:
print(df.shape)

(1088, 17)

In [56]:
print(df.dtypes) # variables and their types in dataset
print()
print(df.isnull().sum())

File Code              int64
BLS Code               int64
BLS Region            object
BLS Region 2          object
Scenario Code          int64
Scenario              object
Time_Slice            object
CO2 effects           object
CO2 ppm                int64
Adapt- ation          object
wheat                  int64
rice                   int64
coarse grains          int64
protein feed           int64
Unnamed: 14          float64
grains                 int64
four commo-dities      int64
dtype: object

File Code               0
BLS Code                0
BLS Region              0
BLS Region 2            0
Scenario Code           0
Scenario                0
Time_Slice              0
CO2 effects             0
CO2 ppm                 0
Adapt- ation            0
wheat                   0
rice                    0
coarse grains           0
protein feed            0
Unnamed: 14          1088
grains                  0
four commo-dities       0
dtype: int64

In [62]:
df=df.drop(['Unnamed: 14'], axis=1)

In [63]:
df.head()

,File Code,BLS Code,BLS Region,BLS Region 2,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,grains,four commo-dities
0,1,9,Argentina,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,-36,-32
1,1,9,Argentina,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,-27,-21
2,1,9,Argentina,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,-10,-3
3,1,9,Argentina,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,0,4
4,1,9,Argentina,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,-38,-36

In [64]:
df.describe()

,File Code,BLS Code,Scenario Code,CO2 ppm,wheat,rice,coarse grains,protein feed,grains,four commo-dities
count,1088.000000,1088.000000,1088.000000,1088.000000,1088.000000,1088.000000,1088.000000,1088.000000,1088.000000,1088.000000
mean,16.500000,479.437500,25.264706,453.441176,-10.056066,-10.006434,-11.458640,-5.479779,-10.515625,-9.332721
std,9.237339,396.618146,14.916997,115.364676,14.767115,13.092585,12.000465,13.624331,12.594144,12.517203
min,1.000000,9.000000,1.000000,330.000000,-73.000000,-73.000000,-68.000000,-58.000000,-71.000000,-68.000000
25%,8.750000,107.750000,9.000000,330.000000,-17.000000,-15.000000,-18.000000,-13.000000,-17.000000,-15.000000
50%,16.500000,227.000000,29.500000,466.500000,-7.000000,-7.000000,-10.000000,-5.000000,-8.000000,-7.000000
75%,24.250000,905.250000,38.000000,555.000000,0.000000,-1.000000,-3.000000,3.000000,-2.000000,-1.000000
max,32.000000,913.000000,46.000000,712.000000,31.000000,30.000000,25.000000,32.000000,28.000000,29.000000

In [65]:
df

,File Code,BLS Code,BLS Region,BLS Region 2,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,grains,four commo-dities
0,1,9,Argentina,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,-36,-32
1,1,9,Argentina,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,-27,-21
2,1,9,Argentina,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,-10,-3
3,1,9,Argentina,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,0,4
4,1,9,Argentina,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,-38,-36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,5,10
1084,32,156,New Zealand,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,0,3
1085,32,156,New Zealand,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,9,14
1086,32,156,New Zealand,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,-2,1
1087,32,156,New Zealand,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,9,15

In [68]:
df['BLS Region'].unique()

array(['Argentina', 'Brazil', 'Mexico', 'L.A. High Inc. Cal. Exp.',
       'L.A. High Inc. Cal. Imp.', 'L.A. Med.-Low Inc.', 'USA', 'Canada',
       'EU', 'Turkey', 'Russia + Republics', 'Egypt', 'Kenya', 'Nigeria',
       'Afr. Oil Exporters', 'Afr. Med. Inc. Cal. Exp.',
       'Afr. Med. Inc. Cal. Imp.', 'Afr. Low Inc. Cal. Exp.',
       'Afr. Low Inc. Cal. Imp.', 'N.E.A. Oil Exp. High Inc.',
       'N.E.A. Med.-Low Inc.', 'Pakistan', 'India', 'Indonesia',
       'Thailand', 'China', 'Japan', 'F.E.A. High-Med. Inc. Cal. Exp.',
       'F.E.A. High-Med. Inc. Cal. Imp.', 'F.E.A. Low Inc.', 'Australia',
       'New Zealand'], dtype=object)